h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}



h2 {
  border: none;
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 10px;
}



img {
  width: 80%;
}


.alnright {
  text-align: right;
}


#project_table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}
#project_table td, #project_table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#project_table td {
  font-size:12px;
  font-style: normal;
}
#project_table th {
  font-size:14px;
  font-style: normal;
}
#project_table tr:nth-child(even){background-color: #f2f2f2;}
#project_table tr:hover {background-color: #196719;color: white}
#project_table tr:hover a {background-color: #196719;color: white}
#project_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00b300;
  color: white;
}



.project_title {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;   
  font-size: 50px;
  margin-top: 30px; 
  font-style: bold;
  color: black;
  text-align: left; 
}



.download-dropbtn {
  background-color: gray;
  color: white;
  padding: 10px;
  border:none;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display:inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-left: 15px;
}
.download-dropdown {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.download-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 12px 12px;
  margin-left: 15px;
  font-size:13px;
  font-family: Arial, Helvetica, sans-serif;
}
.download-dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}
.download-dropdown-content a:hover {background-color: #ddd;}
.download-dropdown:hover .download-dropdown-content {display: block;}
.download-dropdown:hover .download-dropbtn {background-color: #3e8e41;}



.checkbox_small {
  accent-color: #196719;
  height: 12px;
  width: 12px;
}



.select_button_small {
  background-color: gray;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-blocks;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 25px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s; 
}
.select_button_small:hover {
  background-color: #196719;
  }
button.select_button_small:focus {
  background-color: #ff3333;
}



.search_container {
  margin-left: auto;
  margin-right:auto;
  margin-top: 80px; 
  padding-bottom: 30px;
  max-width:300px;
  position:relative;
}


#search_table {
  padding: 6px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid grey;
  width: 70%;
  background: #f1f1f1;
  box-sizing: border-box;
  position:absolute;
  margin-bottom: 30px;
}



.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}



.miso_link {
  color: #b35900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; 
  text-align: left;
  text-decoration:none;
}
.miso_link:hover {
  color: #ff9933;
}



.data_update {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  padding-bottom: 0px;
  max-width: 300px;
  position:relative;
  font-size:16px;
  font-style:normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #A8A8A8;
}



.project_info_table {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 50px;
  margin-right: 100px;
  background-color: #ffffe6;
  border: 1.5px #D8D8D8 solid;
}
.project_info_table th {
  color:#A8A8A8;
  font-weight:normal;
  padding-right: 20px;
  font-size: 12px;
}
.project_info_table td {
  font-weight:normal;
  padding-right: 20px;
  font-size: 12px;
}
.project_info_table th, td {
  padding-bottom:6px;
}



#miso_button {
  background-color: #145214;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 8px;
}
#miso_button a {
    color: white;
    text-decoration: none;
}



#download_button {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  margin-left:25px; 
  transition-duration: 0.4s;
}
#download_button a {
  color: white;
  text-decoration: none;
}
#download_button:hover {
  background-color: #196719;    
  color: white;
  text-decoration: none;
  transition-duration: 0.4s;
}
#download_button:hover a {
  background-color: #196719;    
  color: white;
  text-decoration: none;
  transition-duration: 0.4s;
}



#wgs_table {
  margin-left: 15px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 80%;
}
#wgs_table td, #wgs_table th {
  border: 1px solid #ddd;
  text-align: left;
}
#wgs_table tbody * {
  font-weight: normal;
  font-size: 12px;
}
#wgs_table tbody:nth-child(odd){background-color: #f2f2f2;}
#wgs_table tbody:hover {background-color: #196719;color: white}
#wgs_table tbody:hover a {background-color: #196719;color: white}
#wgs_table th {
  background-color: #00b300;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}
#wgs_table td {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}




.project_links {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  text-align: left;
  text-decoration:none;
}



.review_button {
  background-color: #ff3333;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-blocks;
  font-size: 12px;
  cursor: pointer;
  border-radius: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  transition-duration: 0.0s; 
}
.review_button:hover {
  background-color: #196719;
  }
button.review_button:focus {
  background-color: #196719;
}


.ready_button {
  background-color: #84e184;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-blocks;
  font-size: 12px;
  cursor: pointer;
  border-radius: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  transition-duration: 0.0s; 
}
.ready_button:hover {
  background-color: #196719;
  }
button.ready_button:focus {
  background-color: #196719;
}


#block_header_table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
}
#block_header_table td, #block_header_table th {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  border: 1px solid #404040;
}



.select_button {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-blocks;
  font-size: 12px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s; 
}
.select_button:hover {
  background-color: #196719;
  }
button.select_button:focus {
  background-color: #ff3333;
}



.download-dropbtn-small {
  background-color: gray;
  color: white;
  padding: 10px;
  border:none;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  display:inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
}
.download-dropdown-small {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.download-dropdown-content-small {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 12px 12px;
  margin-left: 15px;
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
}
.download-dropdown-content-small a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}
.download-dropdown-content-small a:hover {background-color: #ddd;}
.download-dropdown-small:hover .download-dropdown-content-small {display: block;}
.download-dropdown-small:hover-small .download-dropbtn-small {background-color: #3e8e41;}



.download_button_small {
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 9px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
  padding: 0px;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 4px;
  margin-top: 0px;
  position: relative;
  left: 10px;
}
.download_button_small a {
  color: white;
  text-decoration: none;
}
.download_button_small:hover {
  background-color: #196719;
  border-radius: 8px;    
  color: white;
  text-decoration: none;
}
.download_button_small:hover a {
  background-color: #196719;
  border-radius: 8px;    
  color: white;
  text-decoration: none;
}



#block_table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  border-collapse: collapse;
  width: 100%;
}
#block_table td, #block_table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#block_table th {
  text-align: left;
  background-color: #00b300;
  color: white;
}


#seq_table {
  margin-left: 0;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 60px;
  border-collapse: collapse;
  width: 50%;
}
#seq_table td, #seq_table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-align: left;
}
#seq_table td {
  color: #595959;
}
#seq_table th {
  background-color: grey;
  color: white;
}





.checkbox {
  accent-color: #196719;
  height: 16px;
  width: 16px;
}



.workflow {
  color: #196719;
  text-decoration: none;
}
.workflow:hover {
  color:  LimeGreen;
}



#workflow_table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  margin-left: 15px;
}
#workflow_table td, #workflow_table th {
  border: 1px solid #ddd;
  padding: 4px;
}
#workflow_table tr:nth-child(even){background-color: #f2f2f2;}
#workflow_table th {
  text-align: left;
  background-color: #00b300;
  color: white;
}



#simple_table {
  margin-left: 15px;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 12px;
  width: 80%;
}
#simple_table td, #simple_table th {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: left;
}
#simple_table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #00b300;
  color: white;
}



.somatic_block {
  padding: 20px;
  border: 1.5px solid black;
  background: #f1f1f1;
  box-sizing: border-box;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}




#review_below {
  font-size:12px

}

















































.search_bar input[type=text] {
  float: left;  
  padding: 6px;
  font-size: 17px;
  border: 1px solid grey;
  width: 70%;
  background: #f1f1f1;
  box-sizing: border-box
}
.search_bar button {
  width: 30%;
  padding: 6px;
  background: #C0C0C0;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  box-sizing: border-box;
}
.search_bar button:hover {
  background: #A0A0A0;
}







.topnav {
  overflow: hidden;
  background-color: #333;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.topnav a:hover {
  background-color: #4d4d4d;
  color: #f2f2f2;
}
.topnav a.active {
  background-color: LimeGreen;
  color: white;
}
.topnav a.selected {
  background-color: #ddd;
  color: black;
}
.topnav a.split {
  float: right;
  background-color: #196719;
  color: white;
}


