<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>waterzooi</title>
</head>

<body>
  <table style="width:100%; font-family: Arial, Helvetica, sans-serif; margin-bottom:50px">
    <tr>
      <td style="width: 40%; padding: 3px; text-align: left"><img src="{{ url_for('static', filename='images/OICR_Logo_RGB_ENGLISH.png') }}" alt="OICR_logo" title="OICR_logo" style="padding-right: 8px; padding-left:0px; width:10; height:10"></td>     
      <td style="width: 60%; padding: 3px; text-align: left"><p style="text-align: center; color: black; font-size:45px; font-family: Arial, Verdana, sans-serif; font-weight:bold">Genome Sequence Informatics<br><br>Waterzooi</p></td>
    </tr>
  </table>
   
  <div class="search_container">
    <input type="text" id="search_table"  onkeyup="searchFunction()" placeholder="Search.." title="Type in a keyword">
  </div>

  <table id="project_table">
    <tr>
      <th>Project</th>
      <th>Pipeline</th>
      <th>Sequencing status</th>
      <th>Analysis status</th>
      <th>Assays</th>
      <th>Cases</th>
      <th>Samples</th>
      <th>Libraries</th>
      <th>Active</th>

    </tr>     
    {% for i in projects %}
      <tr>
        <td>
          <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}">{{ i['project_id'] }}</a>
        </td>
        <td>
          <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}">{{ i['pipeline'] }}</a>
        </td>
        <td>
          <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}">
            {% if sequencing_counts[i['project_id']]['complete'] %}
              {{sequencing_counts[i['project_id']]['complete']}} <span style="font-size:16px;color:#70db70">&#10004;</span> 
            {% endif %}
            {% if sequencing_counts[i['project_id']]['incomplete'] %}
              {{sequencing_counts[i['project_id']]['incomplete']}} <span style="font-size:16px;color:#ff3300;">&#10006;</span> 
            {% endif %}
          </a>
        </td>
        <td>
            <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}">
              {% if analysis_counts[i['project_id']]['complete'] %}
                {{analysis_counts[i['project_id']]['complete']}} <span style="font-size:16px;color:#70db70">&#10004;</span> 
              {% endif %}
              {% if analysis_counts[i['project_id']]['incomplete'] %}
                {{analysis_counts[i['project_id']]['incomplete']}} <span style="font-size:16px;color:#ff3300;">&#10006;</span> 
              {% endif %}
            </a>
        </td>
        <td>
          <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}">{{ i['assays'].split(',') | length }}</a>
        </td>
        <td>
          <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}">{{ i['cases'] }}</a>
        </td>
        <td>
          <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}">{{ i['samples'] }}</a>
        </td>
        <td>
          <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}">{{ i['library_types'] }}</a>
        </td>
        <td>
          {% if i['active'] == 'true' %}
            <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}"><span style="font-size:16px;color:#70db70">&#10004;</span></a>
          {% else %}
            <a class="project_links" href="{{ url_for('project_page', project_name=i['project_id']) }}"><span style="font-size:16px;color:#ff3300;">&#10006;</span></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  
   
  <script>
    function searchFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("search_table");
      filter = input.value.toUpperCase();
      table = document.getElementById("project_table");
      tr = table.getElementsByTagName("tr");
      for (i = 1; i < tr.length; i++) {
        td= tr[i];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
  </script> 

</body>
</html>
