{% extends 'project_base.html' %}

{% block link %}
  <a class="selected" href="{{ url_for('project_page', project_name=project['project_id']) }}">{{ project['project_id'] }}</a>
  <a href="{{ url_for('sequencing', project_name=project['project_id']) }}">Sequencing</a>  
  {% for i in assays %}
    <a href="{{ url_for('analysis', project_name=project['project_id'], assay=i | format_identifier) }}">{{i}}</a>   
  {% endfor %}  
{% endblock %}


{% block content %}
  <div class="project_title">
    <p>{% block title %}{{ project['name'] }} {% endblock %}</p>
  </div>    

  <table class="project_info_table">
  <tr>
    <th>Project name:</th>
    <td>{{ project['project_id'] }}</td>
  </tr>
  <tr>   
    <th>Last sequencing:</th>
    <td>{{ seq_date }}</td>
  </tr>
  <tr>
    <th>MISO:</th>
    <td><button id="miso_button"><a href="https://miso.oicr.on.ca/miso/project/shortname/{{project['project_id']}}" target="_blank">MISO</a></button>
  </tr>
  <tr>
    <th>Pipeline:</th>
    <td>{{ project['pipeline'] }}</td>
  </tr>
  <tr>
    <th>Cases:</th>
    <td>{{ project['cases'] }}</td>
  </tr>
  <tr>
    <th>Samples:</th>
    <td>{{ project['samples'] }}</td>
  </tr>
  <tr>
    <th>Assays</th>
    <td>{{ assay_names }}</td>
  </tr>
  <tr>
    <th>Library types:</th>
    <td>{{ project['library_types'] }}</td>
  </tr>
  <tr>
    <th>Species:</th>
    <td style="font-style: italic;">{{ species }}</td>
  </tr>
</table>

<button id="download_button" style="margin-top:20px;margin-left:50px"><a href="{{url_for('download_cases_table', project_name=project['project_id'])}}">Download case table</a></button>

<table id="project_table" style="margin-top:35px; margin-left:50px">
    <tr>
      <th><div class="tooltip">Case Id<span class="tooltiptext">OICR-generated case identifier</span></th>
      <th><div class="tooltip">Donor Id<span class="tooltiptext">OICR-generated donor identifier</span></th>
      <th><div class="tooltip">External Id<span class="tooltiptext">User-supplied donor identifier</span></th>
      <th><div class="tooltip">MISO<span class="tooltiptext">Link to the MISO sample page</span></th>
      <th><div class="tooltip">Assay<span class="tooltiptext">Analysis assay</span></div></th>
      <th><div class="tooltip">Normals<span class="tooltiptext">Count of normal samples</span></th>
      <th><div class="tooltip">Tumours<span class="tooltiptext">Count of tumour samples</span></th>
      {% for library_type in library_types %}
        <th><div class="tooltip">{{library_type}}<span class="tooltiptext">Count of {{library_names[library_type]}} libraries</span></th>
      {% endfor %} 
    </tr>     
    {% for i in cases %}
      <tr>
        <td>{{ i['case_id'] }}</td>
        <td>{{ i['donor_id'] }}</td>        
        <td>{{ i['ext_id'] }}</td>        
        <td><button id="miso_button"><a href="{{ i['miso'] }}" target="_blank">MISO</a></button>
        <td>{{ i['assay'] }}</td>
        {% if 'normal' in samples_libraries[i['case_id']]['samples'] %}
          <td>{{ samples_libraries[i['case_id']]['samples']['normal'] | length }}</td>  
        {% else %}
          <td>0</td>
        {% endif %}
        {% if 'tumor' in samples_libraries[i['case_id']]['samples'] %}
          <td>{{ samples_libraries[i['case_id']]['samples']['tumor'] | length }}</td>  
        {% else %}
          <td>0</td>
        {% endif %}
        {% for library_type in library_types %}
          {% if library_type in samples_libraries[i['case_id']]['libraries'] %}
            <td>{{ samples_libraries[i['case_id']]['libraries'][library_type] | length}}</td>
          {% else %}
            <td>0</td>
          {% endif %}
        {% endfor %} 
      </tr>
    {% endfor %}
</table>

<footer>
  <p class="data_update"> Data last updated: {{project['last_updated'].split('_')[0]}} </p>
</footer>

{% endblock %}



