{% extends 'project_base.html' %}



{% block link %}
  <a href="{{ url_for('project_page', project_name=project['project_id']) }}">{{ project['project_id'] }}</a>
  <a class="selected" href="{{ url_for('sequencing', project_name=project['project_id']) }}">Sequencing</a>
  {% for i in assays %}
    <a href="{{ url_for('analysis', project_name=project['project_id'], assay=i | format_identifier) }}">{{i}}</a>   
  {% endfor %}   
{% endblock %}


{% block content %}
  <div class="project_title">
    {% if sequences %}
      <span style="font-size:22px; font-style:normal;"> Displaying sequence information for <span id ="count"> {{ sequences|length }} </span> records</span>
    {% else %}
      <span style="font-size:22px; font-style:normal;"> No sequence information</span>
    {% endif %}  
  </div> 

  <div class="download-dropdown">
  <button class="download-dropbtn">Select Platform</button>
    <div class="download-dropdown-content">
      <form method="POST" action="">
        <input class="checkbox_small" type="checkbox" name="platform" value="novaseq" id="novaseq"/><label> NovaSeq</label><br>      
        <input class="checkbox_small" type="checkbox" name="platform" value="hiseq" id="hiseq"/><label> HiSeq</label><br>      
        <input class="checkbox_small" type="checkbox" name="platform" value="nextseq" id="nextseq"/><label> NextSeq</label><br>      
        <input class="checkbox_small" type="checkbox" name="platform" value="miseq" id="miseq"/><label> MiSeq</label><br>
        <button class="select_button_small" type = "submit" value="submit">Download</button>      
      </form>          
    </div>
  </div>    


  {% if sequences %}
    <div class="search_container">
      <input type="text" id="search_table"  onkeyup="searchFunction()" placeholder="Search.." title="Type in a keyword">
    </div>

    <table id="project_table">
      <thead>
        <th><div class="tooltip">Case<span class="tooltiptext">OICR-generated case identifier</span></th>
        <th><div class="tooltip">Donor<span class="tooltiptext">OICR-generated donor identifier</span></th>
        <th><div class="tooltip">Donor ID<span class="tooltiptext">User-supplied donor identifier</span></th>
        <th><div class="tooltip">Sample ID<span class="tooltiptext">User-supplied sample, this distinguishes distinct samples of the same type from the same donor</span></th>
        <th><div class="tooltip">Sample<span class="tooltiptext">OICR-generated sample identifier. Formed from: 1. case, 2. tissue origin, 3. tissue type, 4. sample ID</span></th>
        <th><div class="tooltip">Limskey<span class="tooltiptext">Unique lims identifier</span></th>
        <th><div class="tooltip">Library<span class="tooltiptext">OICR-generated library identifier</span></th>     
        <th>Library Type</th>     
        <th>Tissue Origin</th>     
        <th>Tissue Type</th>     
        <th><div class="tooltip">Platform<span class="tooltiptext">Sequencing instrument</span></th>
        <th><div class="tooltip">File Prefix<span class="tooltiptext">The common prefix, followed by the sequencing read (R1, R2) and the file suffix .fastq.gz. The file prefix is formed is formed from: 1. Library Id, 2. Run date, 3. Instrument Id, 4. Sequencing Instrument Run, 5.
Flow cell identifier, 6. Lane number, 7. Demultiplex barcodes</span></th>
        <th><div class="tooltip">Read Pairs<span class="tooltiptext">Number of read pairs. The number of reads is twice the number of read pairs</span></th>
        <th>Workflow</th> 
      </thead>     

      {% for i in sequences %}
        <tr class="platform" data-id="{{platform_names[i['platform']]}}" data-category="{{platform_names[i['platform']]}}">
          <td> {{i['case']}} </td>
          <td> {{i['donor']}} </td>
          <td> {{i['sample']}} </td>
          <td> {{i['group_id']}} </td>
          <td> {{i['sample_id']}} </td>
          <td> {{i['limskey']}} </td>
          <td> {{i['library']}} </td>
          <td> {{i['library_type']}} </td>
          <td> {{i['tissue_origin']}} </td>
          <td> {{i['tissue_type']}} </td>
          <td> {{i['platform']}} </td>
          <td> {{i['prefix']}} </td>        
          <td class='alnright'> {{i['read_count']}} </td>
          <td> {{i['workflow']}} </td>
        </tr>
      {% endfor %}               
    </table>

  
  {% endif %}

  <footer>
    <p class="data_update"> Data last updated: {{project['last_updated'].split('_')[0]}} </p>
  </footer>

  





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  function searchFunction() {
    var input, filter, table, tr, td, i, txtValue;
    var rowCount = 0    
    input = document.getElementById("search_table");
    filter = input.value.toUpperCase();
    table = document.getElementById("project_table");
    tr = table.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
      td= tr[i];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
          rowCount++;
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
    document.getElementById("count").innerHTML = rowCount
  }
</script>


<script>

var $filterCheckboxes = $('input[type="checkbox"]');
var filterFunc = function() {
  var selectedFilters = {};
  $filterCheckboxes.filter(':checked').each(function() {
    if (!selectedFilters.hasOwnProperty(this.name)) {
      selectedFilters[this.name] = [];
    }
    selectedFilters[this.name].push(this.value);
  });

  // create a collection containing all of the filterable elements
  var $filteredResults = $('.platform');
  // loop over the selected filter name -> (array) values pairs
  $.each(selectedFilters, function(name, filterValues) {
    // filter each .flower element
    $filteredResults = $filteredResults.filter(function() {
      var matched = false,
      currentFilterValues = $(this).data('category').split(' ');

      // loop over each category value in the current .platform's data-category
      $.each(currentFilterValues, function(_, currentFilterValue) {

        // if the current category exists in the selected filters array
        // set matched to true, and stop looping. as we're ORing in each
        // set of filters, we only need to match once

        if ($.inArray(currentFilterValue, filterValues) != -1) {
          matched = true;
          return false;
        }
      });

      // if matched is true the current .platform element is returned
      return matched;
    });
  });

  $('.platform').hide().filter($filteredResults).show();
}

$filterCheckboxes.on('change', filterFunc);  

</script>

{% endblock %}
