{% extends 'project_base.html' %}


{% block link %}
  <a href="{{ url_for('project_page', project_name=project['project_id']) }}">{{ project['project_id'] }}</a>
  {% if pipeline == 'whole_genome_sequencing' %}
    <a href="{{ url_for('wgs_case', project_name=project['project_id'], case_id=case_id, sample_pair=sample_pair) }}">Analysis Blocks</a> 
  {% elif pipeline == 'whole_transcriptome' %}
    <a href="{{ url_for('wt_case', project_name=project['project_id'], case_id=case_id, tumor_sample=sample_pair) }}">Analysis Blocks</a> 
  {% elif pipeline == 'shallow_whole_genome' %}
    <a href="{{ url_for('swg_sample', project_name=project['project_id'], case_id=case_id, sample=sample_pair) }}">Shallow Whole Genome Sample</a> 
  {% endif %}
{% endblock %}


{% block content %}


<table id="block_header_table" style="margin-top:60px;">
  <tr>
    <th>Workflow id</th>
    <th>Name</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>{{ workflow_id }}</td>
    <td>{{ workflow_names[workflow_id].0 }}</td>
    <td>{{ workflow_names[workflow_id].1 }}</td>
  </tr>
</table>


<h2> Output files: </h2>     

{% if files %}
  <table id="wgs_table">
    <tr>
      <th>Samples</th>
      <th>Files</th>
    </tr>
    {% set samples = files.keys() | sort %}
    {% for i in samples %}
      {% set rowNum = files[i] | length %}
      <tbody>       
        <tr>
          {% if ';' in i %}
          <td rowspan="{{rowNum}}">
            <dl>
              {% for k in i.split(';') %}
                <dt>{{k}}</dt>
              {% endfor %}
            </dl>
          </td>
          {% else %}
            <td rowspan="{{rowNum}}">{{ i }}</td>
          {% endif %} 
                
          <td>{{ files[i].0.0 }}</td>
          {% for j in files[i][1:] %}
            <tr>
              <td>{{ j.0 }}</td>
            </tr>        
           {% endfor %}
        </tr>
       </tbody>    
    {% endfor %}
  </table>
{% else %}
  <p style="font-size:22px; font-style:bold;"> No output file to display </p>     
{% endif %}


<h2> Input sequences: </h2>   

<table id="simple_table">
  <tr>
    <th>Samples</th>
    <th>Libraries</th>
    <th>Limskeys</th>
    <th>File swids</th>
    <th>Files</th>
  </tr>
  {% for i in sequences %}
    <tr>
    {% for j in range(i | length) %}
      {% if j == 5 %}
        {% if i[3] in release_status and release_status[i[3]]['ticket'] %}
        <td>
          <a class="miso_link" href="{{release_status[i[3]]['ticket']}}" target="_blank">
            {{i[j]}}
          </a>
        </td>
        {% else %}
          <td>{{i[j]}}</td>
        {% endif %}
      {% else %}
        <td>{{i[j]}}</td>
      {% endif %}
    {% endfor %}
    </tr>
  {% endfor %}
</table>

  {% if parents %}  
  <h2> Parent workflows: </h2> 

  <table id="workflow_table">
    <tr>
      <th colspan="2">Parents</th>
    </tr>
    <tr>    
      <th>Name</th>
      <th>Workflow id</th>
    </tr>
    <tr>
      {% set parent_workflows = parents.keys() | list | sort %}
      {% if parent_workflows %}
        {% for i in range(parent_workflows | length) %}
          {% for j in range(parents[parent_workflows[i]] | length) %}
            <tr>
              <td>{{ parent_workflows[i] }}</td>
              <td>
                <a class="workflow" href="{{ url_for('workflow', project_name=project['project_id'], pipeline=pipeline, case=case, sample_pair=sample_pair, workflow_id=parents[parent_workflows[i]][j]) }}">
                  {{ parents[parent_workflows[i]][j]}}
                </a>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </tr>
  </table>

{% endif %}  


{% if children %}  
  <h2> Downstream workflows: </h2> 

  <table id="workflow_table">
    <tr>
      <th colspan="2">Children</th>  
    </tr>
    <tr>
      <th>Name</th>
      <th>Workflow id</th>
    </tr>  
    <tr>
      {% set children_workflows = children.keys() | list | sort %}
      {% if children_workflows %}  
        {% for i in range(children_workflows | length) %}
          {% for j in range(children[children_workflows[i]] | length) %}
            <tr>
              <td>{{ children_workflows[i] }}</td>
              <td>
                <a class="workflow" href="{{ url_for('workflow', project_name=project['project_id'], pipeline=pipeline, case=case, sample_pair=sample_pair, workflow_id=children[children_workflows[i]][j]) }}">
                  {{ children[children_workflows[i]][j]}}
                </a>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </tr>
  </table>

{% endif %}  

<footer>
  <p class="data_update"> Data last updated: {{project['last_updated'].split('_')[0]}} </p>
</footer>

{% endblock %}

